# 02. Data Cleaning & Enrichment

**Objective:** Transform raw staging data into high-quality analytics-ready data.
**Key Actions:**
1.  **Regex Cleaning:** Removed artifacts like `***` and `@@@` from text fields.
2.  **Geospatial Enrichment:** Mapped `Ciudad` to a new `Pais` column for Power BI mapping.
3.  **Type Casting:** Converted strings to `Float` and `DateTime`.
4.  **Logical Normalization:** Fixed inconsistent `Tipo_Producto` classifications using a master dictionary.

### Imports & Setup

In [14]:
import pandas as pd
import numpy as np
import sys
import os
import re # For Regex

# Add src to path
sys.path.append(os.path.abspath(os.path.join('..', 'src')))
from database.db_connection import get_db_engine

### Load Staging Data

In [9]:
engine = get_db_engine()
df = pd.read_sql("SELECT * FROM raw_sales", engine)
print(f"Loaded {len(df)} rows.")

Successfully created engine for database: riwi_ventas_db
Loaded 1000000 rows.

### Standard Cleaning Pipeline

In [ ]:
# Remove Special Characters (Regex) from Text Columns
text_cols = ['Ciudad', 'Producto', 'Tipo_Producto', 'Tipo_Venta', 'Tipo_Cliente']
for col in text_cols:
    # Remove anything that isn't a letter, number, or space
    df[col] = df[col].astype(str).str.replace(r'[^\w\s]', '', regex=True).str.strip().str.title()

# Fix Numeric Columns (Coerce errors to NaN)
numeric_cols = ['Cantidad', 'Precio_Unitario', 'Descuento', 'Costo_Envio', 'Total']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Fix Date
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')

# Handle Nulls & Duplicates
print(f"Duplicates before: {df.duplicated().sum()}")
df_clean = df.drop_duplicates().dropna().copy()
print(f"Rows remaining: {len(df_clean)}")

# Check types
df_clean.info()

Duplicates before: 15191
Rows remaining: 940258
<class 'pandas.core.frame.DataFrame'>
Index: 940258 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Ciudad           940258 non-null  object
 1   Fecha            940258 non-null  datetime64[ns]
 2   Producto         940258 non-null  object
 3   Tipo_Producto    940258 non-null  object
 4   Cantidad         940258 non-null  float64
 5   Precio_Unitario  940258 non-null  float64
 6   Tipo_Venta       940258 non-null  object
 7   Tipo_Cliente     940258 non-null  object
 8   Descuento        940258 non-null  float64
 9   Costo_Envio      940258 non-null  float64
 10  Total            940258 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 86.1+ MB

### Data Enrichment (Adding Country)

In [11]:
# Clean City Names first (Remove spacing/symbols before mapping)
df['Ciudad'] = df['Ciudad'].astype(str).str.strip().str.title()

# Define Mapping Dictionary
city_to_country = {
    'Antofagasta': 'Chile',
    'Santiago': 'Chile',
    'Valparaíso': 'Chile',
    'Valparaiso': 'Chile', # Just in case without accent
    'Concepción': 'Chile',
    'Concepcion': 'Chile',
    
    'Bogotá': 'Colombia',
    'Bogota': 'Colombia',
    'Medellín': 'Colombia',
    'Medellin': 'Colombia',
    'Cali': 'Colombia',
    'Barranquilla': 'Colombia',
    'Cartagena': 'Colombia',
    'Bucaramanga': 'Colombia',
    'Pereira': 'Colombia',
    
    'Ciudad De México': 'Mexico',
    'Ciudad De Mexico': 'Mexico',
    'Monterrey': 'Mexico',
    'Guadalajara': 'Mexico',
    'Puebla': 'Mexico',
    'Tijuana': 'Mexico',
    
    'Buenos Aires': 'Argentina',
    'Córdoba': 'Argentina',
    'Cordoba': 'Argentina',
    'Rosario': 'Argentina',
    'Mendoza': 'Argentina',
    
    'Lima': 'Peru',
    'Cusco': 'Peru',
    'Arequipa': 'Peru',
    'Trujillo': 'Peru',
    
    'Madrid': 'Spain',
    'Barcelona': 'Spain',
    'Valencia': 'Spain',
    'Sevilla': 'Spain',
    
    'New York': 'USA',
    'Los Angeles': 'USA',
    'Chicago': 'USA',
    'Houston': 'USA',
    'Miami': 'USA'
}

# Create the 'Pais' column
# map() will look up the city and assign the country.
df['Pais'] = df['Ciudad'].map(city_to_country)

# Check for unmapped cities and print them
unmapped = df[df['Pais'].isna()]['Ciudad'].unique()
print(f"Unmapped Cities: {unmapped}")

# Preview
df[['Ciudad', 'Pais']].head()

Unmapped Cities: ['None']

        Ciudad    Pais
0  Antofagasta   Chile
1    Monterrey  Mexico
2   Valparaíso   Chile
3      Sevilla   Spain
4      Sevilla   Spain

### Final Polish (Remove None & Fix Categories)

In [12]:
# Remove the "None" city artifact
df_clean = df_clean[df_clean['Ciudad'] != 'None'].copy()

# Standardize Product Categories (Logical Fix)
product_mapping = {
    'Arepa': 'Harinas',
    'Leche': 'Lácteos',
    'Cereal': 'Despensa',
    'Queso': 'Lácteos',
    'Chocolate': 'Dulces',
    'Yogurt': 'Lácteos',
    'Galletas': 'Dulces',
    'Pan': 'Panadería',
    'Gaseosa': 'Bebidas',
    'Té': 'Bebidas',
    'Café': 'Bebidas',
    'Mantequilla': 'Lácteos'
}

# Overwrite Product_Type with the correct static mapping
df_clean['Tipo_Producto'] = df_clean['Producto'].map(product_mapping).fillna(df_clean['Tipo_Producto'])

print("Validation:")
print(f"- Cities 'None' removed. Remaining rows: {len(df_clean)}")
print("- Product categories standardized.")

Validation:
- Cities 'None' removed. Remaining rows: 935966
- Product categories standardized.

### Load to Data Warehouse (Clean Table)

In [13]:
table_name = 'clean_sales'

try:
    print(f"Saving {len(df_clean)} rows to '{table_name}'...")
    df_clean.to_sql(
        name=table_name,
        con=engine,
        if_exists='replace',
        index=False,
        chunksize=10000
    )
    print("Success! Pipeline finished.")
except Exception as e:
    print(f"Error saving to DB: {e}")

Saving 935966 rows to 'clean_sales'...
Success! Pipeline finished.

## Export
Clean data exported to PostgreSQL table `clean_sales`.